<?xml version="1.0" encoding="UTF-8" ?>

     <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.fonsvitae.vwo"
        version   = "1.0.0" >
		
	<name>testApp</name>
		
	<description>
        Testen, Testen, Testen tot we er moe van zijn
    </description>
	
	<author href="http://" email="">
      Ingelund Vandaag
    </author>
	
	
	<gap:platform name="ios" />
		
	    <!--
        Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event.
   		
    <feature name="http://api.phonegap.com/1.0/device" />
-->

		<!--
			If you do not want any permissions to be added to your app, add the
			following tag to your config.xml; you will still have the INTERNET
			permission on your app, which PhoneGap requires.
		
    
	<preference name="permissions" value="none"/>
-->	
	
		
    <preference name="phonegap-version" value="2.9.0" />

	<!-- De bounce uitschakelen. -->
    <preference name="webviewbounce" value="false" />
    
	<!-- De app fullscreen maken. -->
    <preference name="fullscreen" value="true" />
	
	<preference name="prerendered-icon" value="true" />
	
	<icon src="icon.png" gap:platform="ios"  width="72" height="72"/>
	
<!--	
<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
retina iPad support: PhoneGap 2.5.0+ only 
<icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
-->


<gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
<gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
<gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
<gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />

 <!--retina iPad support: PhoneGap 2.5.0+ only -->
<gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
<gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />

	


</widget>
